body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#c9e9fa, #8ed0f7);
    background-attachment: fixed;
}


.container {
    padding: 20px;
}

.card-blue {
    background: #1565c0;
    color: white;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.feature-row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.feature-item {
    text-align: center;
}

.feature-item div {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaksi {
    background: rgba(255,255,255,0.5);
    padding: 14px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    border-top: 1px solid #ccc;
}

.bottom-nav a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.profile-tile {
    background: rgba(255,255,255,0.5);
    padding: 18p;
    margin: 2px;
    text-align: center;
    border-radius: 25px;
    
}